@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* { 
font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}
/* reset */
body, button, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, button {
  font-size: inherit;
  font-weight: inherit;
}

button {
  border: none;
  background-color: inherit;
  cursor: pointer;
}

/* design */
body {
  background: radial-gradient(96.74% 276.79% at 3.59% 5.28%, #F0F4FF 0%, #A5B6EE 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header {
  text-align: center;
  padding: 72px 0 60px;
}

.header-title {
  font-size: 4rem;
  font-weight: bolder;
  color: white;
}

.main {
  width: 400px;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  padding: 48px 58px 40px;
  box-sizing: border-box;
  background: linear-gradient(144.07deg, #5572BB 2.13%, #374B7C 102.97%);
  box-shadow: 20px 20px 60px 10px rgba(55, 75, 124, 0.4);
  border-radius: 16px;
}

.main-title {
  font-weight: 700;
  font-size: 24px;
  padding-bottom: 23px;
  border-bottom: 1px solid #3D538A;
  position: relative;
}

.main-title::after {
  content: " ";
  position: absolute;
  bottom: -2px;
  right: 0;
  left: 0;
  border-bottom: 1px solid #5B75B4;
}

.main-sub {
  font-weight: 600;
  font-size: 24px;
}

.control-btn button {
  margin-top: 20px;
  width: 112px;
}

.control-btn button img {
  width: 100%;
}